# These files are text and should be normalized (Convert crlf => lf)
*.h text eol=lf
*.hpp text eol=lf
*.c text eol=lf
*.cpp text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf